body
{
	background-color: #73e1df;
}

.logo
{
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-top: 40px;
}
.box
{
	background-color: white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	padding: 40px;
	border: 4px solid #dcdcdc;

}
.text
{
	color: #92828d;
	font-family: papyrus;
}

input:invalid 
{
  border: 2px red solid;
}

h1
{
	text-align: center;
	font-size: 25px;
}
input
{
	display: block;
	width: 100%;
	height: 30px;
	margin-top: 20px;
	border: 2px solid #dcdcdc;
	margin-bottom: 20px;
}