body
{
	background-color: #73e1df;
}

.logo
{
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-top: 40px;
}
.box
{
	background-color: white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
.text
{
	color: #92828d;
}
input
{

}
h1
{
	text-align: center;
	font-family: papyrus;
}